@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hide {
  display: none;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.4s;
}
