.social {
    margin: 0;
    padding: 0;
    
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(3, 25px);
    grid-gap: 10px;
    justify-content: center;

    &__item {
        width: 25px;
        height: 25px;
    }

    &__link {
        display: block;

        width: 25px;
        height: 25px;

        border-radius: 50%;

        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        
        transition-duration: .2s;
        
        &--vk {
            background-image: url('../img/vk-icon.svg');
        }
        
        &--instagram {
            background-image: url('../img/instagram-icon.svg');
        }
        
        &--telegram {
            background-image: url('../img/telegram-logo-original-icon.svg');
        }
        
        &:hover {
            transition-duration: .2s;
            transform: scale(1.1);
        }
    }
}